#demo {
  border-radius: 10px;
  background: rgb(0, 110, 180);
  -webkit-box-shadow: 0px 20px 70px 10px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 20px 70px 10px rgba(0,0,0,0.4);
  box-shadow: 0px 20px 70px 10px rgba(0,0,0,0.4);
  margin-bottom: 40px;
}

#header {
  background-image: url("images/splash.png");
  background-size: cover;
}